---
import Main from "../components/Main.astro";
---

<Main>
    <a href="#">This is the default link</a>
    <p slot="after-intro">This is paragraf from empty.astro</p>
    <div slot="after-footer">
        This Should show up after the footer
    </div>
</Main>
